<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Data</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='psn.png') }}" alt="PSN Logo" class="logo">
        <h1>Website Grafik DTPO</h1>
    </header>

    <main>
        <div class="container">
            <form method="post">
                <label for="logical_port">Logical Output Port (misal: 28 untuk DTPO-28):</label>
                <input type="text" id="logical_port" name="logical_port" required><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>

        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message.strip() | safe }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% if plot_html_gain %}
                <div>
                    <h2>Grafik Sum Gain Numerik terhadap Waktu (Rentang 7 Menit)</h2>
                    {{ plot_html_gain | safe }}
                </div>
            {% endif %}

            {% if plot_html_power %}
                <div>
                    <h2>Grafik Sum Power Out Numerik terhadap Waktu (Rentang 7 Menit)</h2>
                    {{ plot_html_power | safe }}
                </div>
            {% endif %}

            {% if plot_html_gaindb %}
                <div>
                    <h2>Grafik Gain dB terhadap Waktu (Rentang 7 Menit)</h2>
                    {{ plot_html_gaindb | safe }}
                </div>
            {% endif %}

            {% if plot_html_powerdb %}
                <div>
                    <h2>Grafik Power Out dB terhadap Waktu (Rentang 7 Menit)</h2>
                    {{ plot_html_powerdb | safe }}
                </div>
            {% endif %}
        </div>
    </main>


</body>
<footer>
    <p>&copy; 2024 PSN. All rights reserved.</p>
</footer>
</html>
